.table {
  padding: 1rem;
  border-collapse: separate !important;
  border-spacing: 0;
}
.th {
  font-size: larger;
  border-bottom: 1px solid #ddd;
  color: rgb(255, 255, 255);
  padding: 0.2rem 1rem;
}

.thead {
  background-color: var(--neutral7);
  color: white;
}

.table {
  border-collapse: collapse;
}

.thead .th:first-child {
  border-radius: 8px 0 0 0;
}

.thead .th:last-child {
  border-radius: 0 8px 0 0;
}

thead>th{
  color: white;
}

tbody>tr>td{
  text-align: center;
  align-items: center;
  font-size: larger;
}
